<div mat-menu-item>
  <mat-icon>person</mat-icon>
  <span>{{ (auth.user$ | async)?.username }}</span>
</div>
<mat-divider></mat-divider>
<button mat-menu-item (click)="editPopup.open()">
  <mat-icon>edit</mat-icon>
  <span>Profile</span>
</button>
<button mat-menu-item (click)="logout()">
  <mat-icon>logout</mat-icon>
  <span>Logout</span>
</button>

<app-popup #editPopup>
  <ng-template>
    <app-profile-btn-menu-edit-popup
      appBreakpoints
      (update)="editPopup.close()"
    ></app-profile-btn-menu-edit-popup>
  </ng-template>
</app-popup>
