<mat-expansion-panel [(expanded)]="expanded">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div *ngIf="!expanded">{{ task?.title }}</div>
      <mat-form-field *ngIf="expanded" appearance="standard" color="accent">
        <input
          matInput
          type="text"
          placeholder="Title"
          required
          maxlength="30"
          (click)="$event.stopPropagation()"
          (keydown)="$event.stopPropagation()"
          [(ngModel)]="data.title"
          (ngModelChange)="valid = !!title.valid"
          #title="ngModel"
        />
        <mat-hint align="end">{{ data.title?.length ?? 0 }} / 30</mat-hint>
      </mat-form-field>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <mat-form-field appearance="standard" color="accent">
      <textarea
        matInput
        rows="5"
        placeholder="Description"
        maxlength="500"
        [(ngModel)]="data.description"
      ></textarea>
      <mat-hint align="end">{{ data.description?.length ?? 0 }} / 500</mat-hint>
    </mat-form-field>

    <mat-list>
      <mat-list-item>
        <mat-icon matListIcon>task_alt</mat-icon>
        <div matLine>Assignments</div>
        <div matLine>{{ task?.assignments?.total }}</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>calendar_today</mat-icon>
        <div matLine>Creation Time</div>
        <div matLine>{{ task?.createdAt | date: 'medium' }}</div>
      </mat-list-item>
    </mat-list>

    <mat-action-row>
      <button mat-button class="uppercase" (click)="popup.openSheet()">
        Assign
      </button>
      <button
        mat-button
        class="uppercase"
        [disabled]="!valid || loading"
        (click)="update()"
      >
        <span *appLoading="loading; diameter: 25">Update</span>
      </button>
    </mat-action-row>
  </ng-template>
</mat-expansion-panel>

<app-popup #popup>
  <ng-template>
    <app-classroom-detail-tasks-item-assign-popup
      [task]="task"
    ></app-classroom-detail-tasks-item-assign-popup>
  </ng-template>
</app-popup>
