<button mat-list-item class="hoverable">
  <div class="actions">
    <button
      mat-icon-button
      [matTooltip]="completionTooltip"
      (click)="switchCompletion()"
      appStopRipplePropagation
    >
      <mat-icon>{{ completionIcon }}</mat-icon>
    </button>
  </div>

  <div class="content" fxFlex fxFlexOffset="1%">
    <div matLine>
      {{ assignment?.task?.title }}
    </div>
    <div matLine class="info">
      <span matTooltip="creation time">
        <mat-icon inline>calendar_today</mat-icon>
        <span>
          {{ assignment?.createdAt | date: 'short' }}
        </span>
      </span>
      <span matTooltip="creator">
        <mat-icon inline>person</mat-icon>
        <span>
          {{
            assignment?.task?.creator?.nickname ??
              assignment?.task?.creator?.username
          }}
        </span>
      </span>
      <span matTooltip="visibility" *ngIf="assignment?.isPublic">
        <mat-icon inline>visibility</mat-icon>
        Public
      </span>
    </div>
  </div>

  <div class="actions">
    <button
      mat-icon-button
      [matTooltip]="importanceTooltip"
      (click)="switchImportance()"
      appStopRipplePropagation
    >
      <mat-icon>{{ importanceIcon }}</mat-icon>
    </button>
  </div>
</button>
