<mat-list>
  <mat-divider></mat-divider>

  <ng-container *ngFor="let group of applicationGroups$ | async">
    <h2 matSubheader>{{ group[0] }}</h2>
    <app-application-list-item
      *ngFor="let item of group[1]"
      [application]="item"
      [own]="(auth.user$ | async)?.id == item.owner.id"
    ></app-application-list-item>
    <mat-divider></mat-divider>
  </ng-container>

  <div *ngIf="(applicationGroups$ | async)?.length && !allLoaded">
    <app-fetch-more-trigger
      [loading]="loading"
      (trigger)="fetchMore()"
    ></app-fetch-more-trigger>
  </div>
</mat-list>
