<mat-list>
  <h3 matSubheader i18n>Description</h3>
  <section class="description mat-typography">
    <ng-container
      *ngIf="(classroom$ | async)?.description; then thenBlock; else elseBlock"
    ></ng-container>
    <ng-template #thenBlock>
      <p>
        {{ (classroom$ | async)?.description }}
      </p>
    </ng-template>
    <ng-template #elseBlock>
      <p class="opacity--2" i18n>No description provided...</p>
    </ng-template>
  </section>

  <mat-divider></mat-divider>

  <app-classroom-detail-sidebar-membership-list></app-classroom-detail-sidebar-membership-list>
</mat-list>
