:host {
  display: block;
  height: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.router-link-active {
  background-color: rgba(123, 31, 162, 0.15) !important;
  color: rgb(209, 118, 225) !important;
}
.router-link-active:hover {
  background-color: rgba(123, 31, 162, 0.3) !important;
}

/* Colors from https://github.com/angular/material.angular.io */
