<form fxLayout="column" (ngSubmit)="submit()" #form="ngForm">
  <h1 mat-dialog-title>Profile</h1>

  <div mat-dialog-content>
    <app-profile-form
      name="profile"
      [(ngModel)]="data"
      [update]="true"
    ></app-profile-form>
  </div>

  <div fxFlex></div>

  <div mat-dialog-actions fxLayout="row-reverse">
    <button
      mat-button
      *ngIf="canUpdate$ | async"
      class="uppercase"
      color="accent"
      [disabled]="!form.valid"
      type="submit"
    >
      Submit
    </button>
    <button mat-button *ngIf="!(canUpdate$ | async)" disabled>
      Unable to update until
      {{ (qualifiedDate$ | async)?.toDate() | date: 'short' }}
    </button>
  </div>
</form>
