<button
  mat-list-item
  (click)="openMenu($event, item._getHostElement(), helper)"
  #item
>
  <mat-icon matListIcon [color]="iconColor">
    {{ icon }}
  </mat-icon>
  <span matLine [class]="titleClassList">
    {{ name }}
  </span>
  <span matLine>
    {{ membership.role }}
  </span>
  <div class="menu-helper" [matMenuTriggerFor]="menu" #helper></div>
</button>

<mat-menu xPosition="before" #menu>
  <app-classroom-detail-sidebar-membership-list-item-menu
    [membership]="membership"
  ></app-classroom-detail-sidebar-membership-list-item-menu>
</mat-menu>
