@use '~@angular/material' as mat;

$theme-base: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$grey-palette),
      accent: mat.define-palette(mat.$grey-palette),
    ),
  )
);

$theme-light: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$teal-palette, 500),
      accent: mat.define-palette(mat.$cyan-palette, A700),
    ),
  )
);

$theme-dark: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(mat.$purple-palette, 500),
      accent: mat.define-palette(mat.$green-palette, A200),
    ),
  )
);

@include mat.core();
@include mat.all-component-themes($theme-base);
.theme-light {
  @include mat.all-component-colors($theme-light);
}
.theme-dark {
  @include mat.all-component-colors($theme-dark);
}
