.uppercase {
  text-transform: uppercase;
}

.text--blue {
  color: rgb(103, 121, 222);
}
.text--pink {
  color: rgb(187, 86, 121);
}

.opacity--1 {
  opacity: 80%;
}
.opacity--2 {
  opacity: 60%;
}
.opacity--3 {
  opacity: 40%;
}

.bgc--none {
  background-color: transparent;
}
