@use "./text-colors";

.uppercase {
  text-transform: uppercase;
}

.text--blue {
  color: text-colors.$blue;
}
.text--pink {
  color: text-colors.$pink;
}
.text--primary {
  color: text-colors.$primary;
}

.opacity--1 {
  opacity: 80%;
}
.opacity--2 {
  opacity: 60%;
}
.opacity--3 {
  opacity: 40%;
}

.bgc--none {
  background-color: transparent;
}
