<mat-action-list>
  <h3 matSubheader *ngIf="(assignmentsPending$ | async)?.length">Pending</h3>

  <app-classroom-detail-assignments-item
    *ngFor="let assignment of assignmentsPending$ | async"
    [assignment]="assignment"
  ></app-classroom-detail-assignments-item>

  <h3 matSubheader *ngIf="(assignmentsCompleted$ | async)?.length">
    Completed
  </h3>

  <app-classroom-detail-assignments-item
    *ngFor="let assignment of assignmentsCompleted$ | async"
    [assignment]="assignment"
  ></app-classroom-detail-assignments-item>

  <app-fetch-more-trigger
    *ngIf="!allLoaded"
    [loading]="loading"
    (trigger)="fetchMore()"
  ></app-fetch-more-trigger>
</mat-action-list>
