<form class="container" #form="ngForm" (ngSubmit)="send()">
  <div matDialogTitle i18n>New Application</div>

  <div matDialogContent fxLayout="column">
    <mat-form-field color="accent">
      <mat-label i18n>Classroom ID</mat-label>
      <input
        matInput
        name="classroom"
        type="number"
        required
        [(ngModel)]="data.classroom"
      />
    </mat-form-field>

    <mat-form-field color="accent">
      <mat-label i18n>Message</mat-label>
      <input
        matInput
        name="message"
        type="text"
        maxlength="20"
        [(ngModel)]="data.message"
      />
    </mat-form-field>
  </div>

  <div matDialogActions fxLayout>
    <div fxFlex></div>
    <button
      mat-button
      type="submit"
      class="uppercase"
      [disabled]="!form.valid || loading"
      i18n
    >
      Send
    </button>
  </div>
</form>
