:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-toolbar {
  z-index: 2;
}
mat-toolbar > .logo {
  cursor: pointer;
}

mat-sidenav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 286px;
  background-color: transparent;
}

/* Colors from https://github.com/angular/material.angular.io */
