@use '~angular-notifier/styles';
@use './themes';
@use './variables';
@use './utilities';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.router-link-active {
  background-color: rgba(123, 31, 162, 0.15) !important;
  color: var(--text-color--primary) !important;
}
.router-link-active:hover {
  background-color: rgba(123, 31, 162, 0.3) !important;
}

button.fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

/* Colors from https://github.com/angular/material.angular.io */
