.uppercase {
  text-transform: uppercase;
}

.text--blue {
  color: var(--text-color--blue);
}
.text--pink {
  color: var(--text-color--pink);
}
.text--primary {
  color: var(--text-color--primary);
}

.opacity--1 {
  opacity: 80%;
}
.opacity--2 {
  opacity: 60%;
}
.opacity--3 {
  opacity: 40%;
}

.bgc--none {
  background-color: transparent;
}
