.uppercase {
  text-transform: uppercase;
}

.text--blue {
  color: var(--text-color--blue);
}
.text--pink {
  color: var(--text-color--pink);
}
.text--primary {
  color: var(--text-color--primary);
}

.hoverable:hover {
  background-color: var(--bg-color--hover);
  cursor: pointer;
}
