.container {
  height: 100%;
}

.toolbar-container {
  z-index: 2;
}
.toolbar-container .logo {
  cursor: pointer;
}

mat-sidenav-container {
  /* prevent the content from pushing the toolbar */
  height: 0;
}

mat-sidenav {
  width: 256px;
}
