.container {
  height: 100%;
}

mat-toolbar {
  z-index: 2;
}
mat-toolbar > .logo {
  cursor: pointer;
}

mat-sidenav-container {
  /* prevent the content from pushing the toolbar */
  height: 0;
}

mat-sidenav {
  width: 256px;
}
