:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-toolbar {
  z-index: 2;
}
mat-toolbar > .logo {
  cursor: pointer;
}

mat-sidenav {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 256px;
}
