<mat-toolbar color="primary" class="mat-elevation-z4">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span fxFlex="1%"></span>
  <span class="logo" routerLink="/">Tasked</span>
  <span fxFlex></span>
  <ng-content select="header-actions"></ng-content>
</mat-toolbar>

<mat-sidenav-container style="flex-grow: 1">
  <mat-sidenav
    class="mat-elevation-z3"
    [opened]="!(isMobile$ | async)"
    [mode]="(isMobile$ | async) ? 'over' : 'side'"
    #sidenav
  >
    <ng-content select="sidenav"></ng-content>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
