<mat-toolbar>
  <div fxFlex>
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>people</mat-icon>
    </button>
  </div>
  <div fxFlex fxGrow="0">
    <span>{{ (classroom$ | async)?.name }}</span>
  </div>
  <div fxFlex fxLayout>
    <div fxFlex></div>
    <button mat-icon-button>
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer
    [opened]="!(breakpoints.phone$ | async)"
    mode="side"
    position="end"
    #drawer
  >
    <app-classroom-membership-list></app-classroom-membership-list>
  </mat-drawer>

  <mat-drawer-content>
    <main [class.phone]="breakpoints.phone$ | async" fxLayout="row">
      <mat-tab-group fxFlex="100%">
        <mat-tab label="Schedule"></mat-tab>
        <mat-tab label="Assignments"></mat-tab>
      </mat-tab-group>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
