:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer-container {
  flex-grow: 1;
}
mat-drawer-container > mat-drawer {
  background-color: transparent;
}
mat-drawer-container > mat-drawer-content {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
}
mat-drawer-container > mat-drawer-content.mobile {
  padding: 20px 15px;
}
mat-drawer-container > mat-drawer-content > main {
  flex-grow: 1;
}
