<mat-toolbar>
  <div fxFlex></div>
  <div>
    <span>{{ (classroom$ | async)?.name }}</span>
  </div>
  <div fxFlex fxLayout="row-reverse">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer
    [opened]="!(breakpoints.phone$ | async)"
    mode="side"
    position="end"
    #drawer
  >
    <app-classroom-detail-sidebar></app-classroom-detail-sidebar>
  </mat-drawer>

  <mat-drawer-content [class.phone]="breakpoints.phone$ | async">
    <nav mat-tab-nav-bar>
      <a
        matTabLink
        *ngFor="let item of links"
        [routerLink]="item[1]"
        [active]="linksActive == item"
        (click)="linksActive = item"
      >
        {{ item[0] }}
      </a>
    </nav>
    <main>
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
