<mat-toolbar>
  <div fxFlex></div>
  <div fxFlex fxGrow="0">
    <span>{{ (classroom$ | async)?.name }}</span>
  </div>
  <div fxFlex fxLayout="row-reverse">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-drawer-container>
  <mat-drawer
    [opened]="!(breakpoints.phone$ | async)"
    mode="side"
    position="end"
    #drawer
  >
    <app-classroom-detail-sidebar></app-classroom-detail-sidebar>
  </mat-drawer>

  <mat-drawer-content>
    <main [class.phone]="breakpoints.phone$ | async" fxLayout="row">
      <mat-tab-group fxFlex="100%">
        <mat-tab label="Assignments">
          <app-classroom-detail-tab-assignments></app-classroom-detail-tab-assignments>
        </mat-tab>
      </mat-tab-group>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
