<form nz-form (ngSubmit)="submit()" #form="ngForm">
  <app-auth-form-layout>
    <ng-container ngProjectAs="title">Login</ng-container>

    <ng-container ngProjectAs="content">
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="user">
            <input
              nz-input
              [(ngModel)]="data.username"
              name="username"
              type="text"
              placeholder="Username"
              autocomplete="username"
              required
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzPrefixIcon="lock">
            <input
              nz-input
              [(ngModel)]="data.password"
              name="password"
              type="password"
              placeholder="Password"
              autocomplete="current-password"
              required
            />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </ng-container>

    <ng-container ngProjectAs="buttons">
      <button
        nz-button
        nzBlock
        nzType="primary"
        [disabled]="!form.valid"
        [nzLoading]="isLoading"
        type="submit"
      >
        Submit
      </button>
    </ng-container>

    <ng-container ngProjectAs="footer">
      No accounts? <a routerLink="../signup/">Sign up</a> for free!
    </ng-container>
  </app-auth-form-layout>
</form>
