<form (ngSubmit)="submit$.next()" #form="ngForm">
  <mat-card>
    <div class="header">
      <h1 class="mat-h1">Login</h1>
    </div>

    <div class="content">
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input
          matInput
          [(ngModel)]="data.username"
          name="username"
          type="text"
          autocomplete="username"
          required
          #username="ngModel"
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          matInput
          [(ngModel)]="data.password"
          name="password"
          type="password"
          autocomplete="current-password"
          required
          #password="ngModel"
        />
      </mat-form-field>
    </div>

    <div class="actions">
      <button
        mat-raised-button
        class="uppercase"
        [disabled]="form.invalid || loading"
        color="primary"
        type="submit"
      >
        <span *appLoading="loading; diameter: 30">Submit</span>
      </button>
    </div>
  </mat-card>
</form>
